BasedOnStyle:  LLVM
BraceWrapping:
  AfterFunction: true
BreakBeforeBraces: Attach
IndentWidth: 4
TabWidth: 4
UseTab: Always
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
